<?xml version="1.0" ?>
<model>
    <name>Frame</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Hafiz</name>
        <email>hoyediran2@huskers.unl.edu</email>
    </author>
    <description>A basic 2x4 frame typical of home construction.</description>
</model>
