<?xml version="1.0"?>

<model>
  <name>Dry Wall Panel Stack (Static)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mike</name>
    <email>wturner4@unl.edu</email>
  </author>

  <description>
    Stack of half dry wall sheets implemented as a box.
  </description>

</model>
