<?xml version="1.0"?>

<model>
  <name>Big Material Stack</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mike</name>
    <email>wturner4@unl.edu</email>
  </author>

  <description>
    This model is a large box with the same xy dimensions as the full sheet drywall and frame panels.
    It is intended for use within world files for mapping out the space.

    The simulated stacks of materials (drywall and frames) do not rest high enough for the Husky laser
    scanner to detect - this large stack is a stand-in to do just that.
  </description>

</model>
